/*
Estilos Generales
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: vh;
}

body {
    background-color: #F1D7B6;

}

a {
    text-decoration: none;
    color: white;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}
/*
Parte de arriba
*/
.tronco {
    z-index: 1;
    position: absolute;
    width: 100%;
    margin-top: -270px;
}

.logo {
    z-index: 1;
    position: absolute;
}

.animall {
    width: 400px;
    height: 130px;
    z-index: 1;
}

.container-logo-otros {
    position: absolute;
    top: 0;
    display: flex;
    z-index: 1;
}

.container-logo-otros2 {
    position: absolute;
    top: 80px;
    display: flex;
    z-index: 2;
    left: 570px;
}

.buscador {
    color: #F1D7B6;
    background-color: #A15F2C;
    border-radius: 16px;
    border: 0;
    height: 35px;
    width: 280px;
    top: 75px;
}

.lupa {
    margin-left: -35px;
    width: 30px;
    height: 30px;
}
.lupa:hover {
    filter: hue-rotate(0deg) brightness(80%);
}

.carrito {
    width: 70px;
    height: 43px;
    margin-left: 20px;
}

.l {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    font-style: normal;
}

.l2 {
    z-index: 2;
    width: 160px;
    font-size: x-large;
    font-weight: 800;
}


.letrasa {
    z-index: 1;
    color: #ffffff;
    display: flex;
    position: absolute;
    list-style: none;
    left: 80%;
    top: 20px;
}

.letrasb {
    z-index: 2;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    position: absolute;
    list-style: none;
    margin-left: 60px;
    margin-top: 168px;
}
.letrasb :hover {
    color: #aaaaaa;
}

.frase {
    z-index: 2;
    color: #F0E4B2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 2;
    position: absolute;
    margin-top: 133px;
    margin-left: 150px;
}

.frase2 {
    z-index: 2;
    color: #9D8678;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 330px;
    position: absolute;
    margin-top: 133px;
    margin-left: 320px;
}
/*
cajas de productos
*/
button {
    background-color: #C1873C;
    border: 0;
}

.producto:hover {
    transform: scale(1.05);
}

.producto2:hover {
    transform: scale(1.05);
}

.producto {
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 300px;
    height: 530px;
    box-shadow: 0 0 7px;
    margin: 18px;
    margin-block-end: 50px;
    margin-top:30px;
}

.producto2 {
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 300px;
    height: 530px;
    box-shadow: 0 0 7px;
    margin: 18px;
    margin-block-end: 50px;
}

.infop {
    justify-content: center;
    text-align: center;
    font: small-caps 100%/200% serif;
    font-size: x-large;
    color: #30251e;
    font-weight: 100;
    margin: 10px;
    height: 110px;
    width: 260px;
}

.precio {
    display: flex;
    justify-content: center;
    text-align: start;
    vertical-align: top;
    font: small-caps 100%/200% serif;
    color: #756155;
}

.comprar {
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
    background-color: #C1873C;
    display: flex;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 1vh;
}

@font-face {
    font-family: 'acme';
    src: url('Acme-Regular.ttf');
}

.tcomprar {
    font-family: 'acme';
    margin-left: 10px;
    font-size: large;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 15px;
}

.flecha {
    height: 40px;
    width: 70px;
    margin-left: 50px;
    margin-top: 0.8vh;
}

.img-producto img {
    width: 100%;
    height: 100%;
}

.img-producto {
    height: 275px;
}

.img-producto2 img {
    width: 280px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
/* Compras */
.oferta {
    color: #ff0000;
    
}

.s1 {
    color: #604a33;
    text-decoration: line-through;
}

.s2 {
    color: #556b2f;  
}

#img-producto {
    margin-left: 60px;
    align-self: self-start;
    margin-top: 300px;
    width: 420px;
    height: 420px;
    transition: all;
    object-fit: cover;
    box-shadow: 5px 5px 7px rgb(0, 0, 0, 0.5);
}

#img-producto:hover{
    transform: scale(1.1);
}

.parent {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-top: 0%;
}


.div1 {
    grid-area: 2 / 2 / 3 / 3;
}

.div2 {
    margin-top: 300px;
    width: 700px;
    grid-area: 2 / 3 / 3 / 4;
}

.footer1 {
    grid-template-columns: (4, 1fr);
}

.buy-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #C1873C;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 16%;
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
}
.buy-btn:hover .buy-btn-text {
    opacity: 0;
}

.buy-btn:hover {
    background-color: #229308;
}

.buy-btn-text {
    position: relative;
    z-index: 2;
}

.buy-btn-arrow {
    position: absolute;
    top: 50%;
    left: 43%;
    width: 32px;
    height: 32px;
    margin-top: -20px;
    margin-left: -16px;
    background-image: url('arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    z-index: 1;
}


.buy-btn:hover .buy-btn-arrow {
    transform: scale(1);
}

.footer {
    position: absolute;
    background-color: #604a33;
    color: white;
    margin-top: 43%;
    margin-left: 0%;
    display: flex;

}

.footer h4 {
    color: #fff;
    margin-bottom: 20px;
}

.footer p {
    color: #ccc;
    line-height: 1.5;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer ul li {
    margin-bottom: 20px;
    margin-left: 370px;
}

.footer ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.2s;
}

.footer ul li a:hover {
    color: #fff;
}

.col-md-4 {
    text-align: center;
    margin-left: 10px;
}

.row {
    display: flex;
    margin: 20px;
}

.list-unstyled {
    text-align: start;
}

.info {
    margin-left: -350px;
}

.info2 {
    margin-left: -220px;
}


.quantity {
    display: flex;
    align-items: center;
    justify-content: start;
}
.decrease1 {
    position: relative;
    background-color: #C1873C;
    color: white;
    border: none;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-start-start-radius: 15px;
    border-end-start-radius:  15px;
}

.increase1 {
    background-color: #C1873C;
    color: white;
    border: none;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-end-end-radius: 15px;
}

.count {
    margin: 0px -12px 0px -12px;
    background-color: #ecdfcd;
    display: inline-block;
    padding: 10px;
    width: 60px;
    text-align: center;
    border-color: #F1D7B6;
}
.ip {
    width: 750px;
    height: 140px;
}
.ip2 {
    padding: 20px 20px 20px 80px;
    width: 1300px;
    font-size: 15px;
}
.i {
    padding-left: 80px;
}
.descripcion {
    text-align: center;
    padding: 30px 40px 20px 0px;
}
.id3 {
    padding-left: 80px;
    margin: 20px 20px 20px 20px;
}
.amity {
    padding: 20px 20px 20px 80px;
}

#animall {
    color: #229308;
}

.ip4 {
    padding: 20px 20px 0px 80px;
    width: 1300px;
    font-size: 16px;
}
.ip5 {
    height: 140px;
}
.ip6 {
    
    padding: 20px 20px 20px 0px;
    font-size: 15px;
    height: 62px;
}
