/*
Estilos Generales
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: vh;
}

body {
    background-color: #F1D7B6;

}

a {
    text-decoration: none;
    color: white;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}
/*
Parte de arriba
*/
.tronco {
    z-index: 1;
    position: absolute;
    width: 100%;
    margin-top: -23%;
}
.animall {
    width: 25vw;
    height: 7vw;
    z-index: 1;
    margin-left: 1%;
}

.container-logo-otros {
    position: absolute;
    width: 10%;
    top: 0;
    display: flex;
    z-index: 1;
}

.container-logo-otros2 {
    position: absolute;
    margin-top: 4%;
    display: flex;
    z-index: 2;
    left: 30%;
    margin-left: 10%;
}
.logo {
    width: 10vw;
    height: 8.5vw;
}

.buscador {
    color: #F1D7B6;
    background-color: #A15F2C;
    border-radius: 0.9vw;
    border: 0;
    height: 1.8vw;
    width: 20vw;
    font-size: 0.8vw;
}

.lupa {
    margin-left: -7%;
    width: 1.5vw;
    height: 1.5vw;
}
.lupa:hover {
    filter: hue-rotate(0deg) brightness(80%);
}

.carrito {
    width: 4.5vw;
    height: 2.9vw;
    margin-left: 10%;
    margin-top: -1%;
}

.l {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 50%;
    font-size: 1.1vw;
}

.l2 {
    z-index: 2;
    margin-left: 15%;
    font-size: 1.5vw;
}


.letrasa {
    z-index: 1;
    color: #ffffff;
    display: flex;
    position: absolute;
    list-style: none;
    margin-left: 85%;
    margin-top: 3%;
}
::placeholder {
    color: #F1D7B6;
    opacity: 1; 
}

.letrasb {
    z-index: 2;
    color: #ffffff;
    font-family: 'acme';
    display: flex;
    position: absolute;
    list-style: none;
    margin-top: 9.4%;
    width: 30%;
}
.letrasb :hover {
    color: #aaaaaa;
}

.frase {
    z-index: 2;
    color: #F0E4B2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    width: 10vw;
    margin-top: 70%;
    margin-left: 8.7vw;
    font-size: 0.9vw;
}

.frase2 {
    z-index: 2;
    color: #9D8678;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 9vw;
    position: absolute;
    margin-top: 70%;
    margin-left: 18.3vw;
    font-size: 0.9vw;
}
/*
cajas de productos
*/
button {
    background-color: #C1873C;
    border: 0;
}

.producto:hover {
    transform: scale(1.05);
}

.producto2:hover {
    transform: scale(1.05);
}
.productoi:hover {
    transform: scale(1.05);
}
.productod:hover {
    transform: scale(1.05);
}
.productoi2:hover {
    transform: scale(1.05);
}
.productod2:hover {
    transform: scale(1.05);
}
.productoi{
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 21.961932650073205vw;
    height: 38.79941434846266vw;
    box-shadow: 0 0 7px;
    margin-left: 3%;
    margin-top: 10%;
    margin-bottom: 1%;
}
.productod{
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 21.961932650073205vw;
    height: 38.79941434846266vw;
    box-shadow: 0 0 7px;
    margin-left: 2%;
    margin-right: 3%;
    margin-top: 10%;
    margin-bottom: 1%;
}
.productoi2{
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 21.961932650073205vw;
    height: 38.79941434846266vw;
    box-shadow: 0 0 7px;
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 1%;
}
.productod2{
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 21.961932650073205vw;
    height: 38.79941434846266vw;
    box-shadow: 0 0 7px;
    margin-left: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.producto {
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 21.961932650073205vw;
    height: 38.79941434846266vw;
    box-shadow: 0 0 7px;
    margin-top: 10%;
    margin-bottom: 1%;
    margin-left: 2%;
}
.producto2 {
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 21.961932650073205vw;
    height: 38.79941434846266vw;
    box-shadow: 0 0 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.infop {
    justify-content: center;
    text-align: center;
    font: small-caps 100% serif;
    font-size: 1.9vw;
    color: #30251e;
    font-weight: 100;
    margin: 0.5vw;
    height: 8vw;
}

.precio {
    display: flex;
    justify-content: center;
    text-align: start;
    vertical-align: top;
    font: 100%/200% serif;
    color: #756155;
    font-size: 1.7vw;
}
.precio2 {
    display: flex;
    justify-content: center;
    text-align: start;
    vertical-align: top;
    font: 100%/200% serif;
    color: #ce1010;
    font-size: 1.7vw;
}


.comprar {
    border-radius: 0.8vw;
    object-fit: cover;
    overflow: hidden;
    background-color: #C1873C;
    display: flex;
    height: 100%;
    margin-left: 1.1vw;
    margin-right: 1.1vw;
    margin-top: 1.1vw;
    margin-bottom: 1vw;
    transition: 1s;
}
.comprar:hover {
    filter: hue-rotate(100deg);
}

@font-face {
    font-family: 'acme';
    src: url('Acme-Regular.ttf');
}

.tcomprar {
    font-family: 'acme';
    margin-left: 0.5vw;
    font-size: 1.5vw;
    color: #ffffff;
    margin-bottom: 0.7vw;
    margin-top: 0.7vw;
}

.flecha {
    height: 3vw;
    width: 5.1vw;
    margin-left: 3.7vw;
    margin-top: 0.2vw;
    transition: 1s;
}

.img-producto img {
    width: 100%;
    height: 100%;
}

.img-producto {
    height: 20vw;
}
/* Compras */
.oferta {
    color: #556b2f;
    font-size: 1.7vw;
    font-family: 'acme';
}
.Inform{
    font-size: 2.5vw;
}

.s1 {
    color: #604a33;
    text-decoration: line-through;
    font-size: 1.5vw;
}

.s2 {
    color: #556b2f;  
    font-size: 2vw;
}

#img-producto {
    margin-left: 4.4vw;
    align-self: self-start;
    margin-top: 22vw;
    width: 30vw;
    height: 31vw;
    transition: all;
    object-fit: cover;
    box-shadow: 1vw 1vw 1vw rgb(0, 0, 0, 0.5);
}

#img-producto:hover{
    transform: scale(1.1);
}

.parent {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-column-gap: 2vw;
    margin-top: 0%;
}
.amity img{
    width: 60vw;
}


.div1 {
    grid-area: 2 / 2 / 3 / 3;
}

.div2 {
    margin-top: 22vw;
    width: 40vw;
    grid-area: 2 / 3 / 3 / 4;
}

.footer1 {
    grid-template-columns: (4, 1fr);
    font-size: 1.2vw;
}

.buy-btn {
    position: relative;
    display: inline-block;
    padding: 1vw 1vw;
    color: #fff;
    background-color: #C1873C;
    border: none;
    border-radius: 3vw;
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    overflow: hidden;
    cursor: pointer;
    margin-top: 14%;
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
}
.buy-btn:hover .buy-btn-text {
    opacity: 0;
}

.buy-btn:hover {
    background-color: #229308;
}

.buy-btn-text {
    position: relative;
    z-index: 2;
}

.buy-btn-arrow {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 2vw;
    height: 2vw;
    margin-top: -2vw;
    margin-left: -2vw;
    background-image: url('arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    z-index: 1;
}


.buy-btn:hover .buy-btn-arrow {
    transform: scale(1);
}

.footer {
    position: absolute;
    background-color: #604a33;
    color: white;
    margin-top: 50%;
    margin-left: 0%;
    display: flex;
    font-size: 1.3vw;

}

.footer h4 {
    color: #fff;
    margin-bottom: 1vw;
}

.footer p {
    color: #ccc;
    line-height: 1.5;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer ul li {
    margin-bottom: 1vw;
    margin-left: 27.3vw;
}

.footer ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.2s;
}

.footer ul li a:hover {
    color: #fff;
}

.col-md-4 {
    text-align: center;
    margin-left: 1vw;
}

.row {
    display: flex;
    margin: 1vw;
}

.list-unstyled {
    text-align: start;
}

.info {
    margin-left: -25vw;
}

.info2 {
    margin-left: -16vw;
}


.quantity {
    display: flex;
    align-items: center;
    justify-content: start;
}
.decrease1 {
    position: relative;
    background-color: #C1873C;
    color: white;
    border: none;
    padding: 0.9vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 0vw 0.1vw;
    cursor: pointer;
    border-start-start-radius: 1vw;
    border-end-start-radius:  1vw;
}

.increase1 {
    background-color: #C1873C;
    color: white;
    border: none;
    padding: 0.9vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 0.7vw 0.1vw;
    cursor: pointer;
    border-top-right-radius: 1vw;
    border-end-end-radius: 1vw;
}

.count {
    margin: 0vw -0.4vw 0vw -1vw;
    background-color: #ecdfcd;
    display: inline-block;
    padding: 0.7vw;
    width: 4vw;
    height: 3vw;
    text-align: center;
    border-color: #F1D7B6;
    font-size: 1.2vw;
}
.buy-btn-arrow img{
    height: 3vw;
    width: 4vw;
}
.ip8{
    font-size: 1vw;
}
.ip7{
    font-size: 1vw;
}
.cantidad{
    font-size: 1vw;
}
input{
    font-size: 1vw;
}
.ip {
    width: 54vw;
    height: 10vw;
    font-size: 1.2vw;
}
.ip2 {
    padding: 1vw 2vw 2vw 6vw;
    width: 95vw;
    font-size: 1vw;
}
.i {
    padding-left: 6vw;
    font-size: 2vw;
}
.descripcion {
    text-align: center;
    padding: 1vw 2vw 1vw 0vw;
    font-size: 3vw;
}
.id3 {
    padding-left: 2vw;
    margin: 1vw 1vw 1vw 1vw;
    font-size: 1vw;
}
.amity {
    padding: 1vw 1vw 1vw 3vw;
}

#animall {
    color: #229308;
}

.ip4 {
    padding: 1vw 2vw 0vw 6vw;
    width: 90vw;
    font-size: 1.20vw;
}
.ip5 {
    height: 4vw;
}
.ip6 {
    
    padding: 1vw 1vw 1vw 0vw;
    font-size: 0.8vw;
    height: 62px;
}
.producto1 {
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 22vw;
    height: 38vw;
    box-shadow: 0 0 1vw;
    margin: 1vw;
    margin-block-end: 20vw;
    margin-top:30vw;
}

.ip7 {
    padding: 2vw 2vw 0vw 8vw;
    width: 90vw;
    font-size: 1vw;
}

.ip8 {
    position: absolute;
}

.footer1 {
    position: absolute;
    background-color: #604a33;
    color: white;
    margin-top: 50vw;
    display: flex;

}

.footer1 h4 {
    color: #fff;
    margin-bottom: 4vw;
}

.footer1 p {
    color: #ccc;
    line-height: 1.5;
}

.footer1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer1 ul li {
    margin-bottom: 2vw;
    margin-left: 37vw;
}

.footer1 ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.2s;
}

.footer1 ul li a:hover {
    color: #fff;
}
