/*
estilos generales
*/
nav {
    width: vh;
}

body {
    background-color: #F1D7B6;
}

a {
    text-decoration: none;
    color: white;
}

/*
carrusel
*/
.slide {
    z-index: 0;
    position: absolute;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 160px;
    width: 100%;
    margin-left: -8px;
    margin-right: 0px;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 550px
}

.slide-open:checked+.slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
}

.slide-control {
    z-index: 100;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 100px;
    height: 0px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 100;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #f1e6d6;
}

#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3,
#slide-4:checked~.control-4,
#slide-5:checked~.control-5 {
    display: block;
}
/*
imagenes
*/

.logo {
    z-index: 2;
    position: absolute;
    margin-top: -10px;
}

.tronco {
    z-index: 1;
    position: absolute;
    width: 102.2%;
    object-fit: contain;
    margin-left: -2em;
    margin-top: -290px;
}           

.animall {
    z-index: 2;
    position: absolute;
    margin-left: 150px;
    margin-top: -10px;
}

.lupa {
    z-index: 2;
    position: absolute;
    margin-left: 908px;
    margin-top: 68px;
}

.carrito {
    z-index: 2;
    position: absolute;
    left: 980px;
    top: 68px;
}

.arbusto {
    position: absolute;
    z-index: 9;
    margin-top: -240px;
    height: 100%;
    width: 100%;
}

.parteabajo {
    position: absolute;
    margin-bottom: -5px;
    margin-top: 800px;
    width: 100%;
    z-index: -999;
}

.parteabajo1 {
    position: absolute;
    margin-top: 260px;
    margin-left: 926px;
    width: 440px;
    z-index: -999;
}

/*
estilos clases
*/

.infoa {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.letrasa {
    z-index: 2;
    color: #ffffff;
    display: flex;
    position: absolute;
    list-style: none;
    left: 1015px;
    top: 20px;
}

.letrasb {
    z-index: 2;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    position: absolute;
    list-style: none;
    left: 15px;
    top: 133px;
}

.l2 {
    z-index: 2;
    width: 160px;
    font-size: x-large;
    font-weight: 800;
}

.buscador::placeholder {
    color: #F1D7B6;
}

.buscador {
    z-index: 2;
    color: #F1D7B6;
    background-color: #A15F2C;
    border-radius: 16px;
    border: 0;
    height: 35px;
    width: 350px;
    position: absolute;
    left: 600px;
    top: 75px;

}

.l {
    width: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifS;
    font-style: normal;
}

.frase {
    z-index: 2;
    color: #F0E4B2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 330px;
    position: absolute;
    left: 160px;
    top: 100px;
}

.frase2 {
    z-index: 2;
    color: #9D8678;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 330px;
    position: absolute;
    left: 330px;
    top: 100px;
}

/*
cajas de productos
*/
button {
    background-color: #C1873C;
    border: 0;
}

.producto:hover {
    transform: scale(1.05);
}

.producto2:hover {
    transform: scale(1.05);
}

.producto {
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 300px;
    height: 458px;
    box-shadow: 0 0 7px;
    margin: 18px;
    margin-block-end: 50px;
    margin-top: 800px;
}

.producto2 {
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 300px;
    height: 458px;
    box-shadow: 0 0 7px;
    margin: 18px;
    margin-block-end: 50px;
    margin-top: px;
}

.juguetep img {
    width: 280px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.infop {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.precio {
    display: flex;
    justify-content: center;
    text-align: start;
    vertical-align: top;
    margin-top: 20px;
}

.comprar {
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
    background-color: #C1873C;
    display: flex;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.tcomprar img {
    justify-content: center;
    width: 240px;
    height: 30px;
    margin-left: 5px;
    margin-right: 54px;
    object-fit: cover;
}

.jugueteg img {
    width: 280px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}