/*
Estilos Generales
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: vh;
}

body {
    background-color: #F1D7B6;

}

a {
    text-decoration: none;
    color: white;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}
ul, ol {
    list-style: none;
}
/*
Parte de arriba
*/
.tronco {
    z-index: 1;
    position: absolute;
    width: 100%;
    margin-top: -23%;
}
.animall {
    width: 25vw;
    height: 7vw;
    z-index: 1;
    margin-left: 1%;
}

.container-logo-otros {
    position: absolute;
    width: 10%;
    top: 0;
    display: flex;
    z-index: 1;
}

.container-logo-otros2 {
    position: absolute;
    margin-top: 4%;
    display: flex;
    z-index: 2;
    left: 30%;
    margin-left: 10%;
}
.logo {
    width: 10vw;
    height: 8.5vw;
}

.buscador {
    color: #F1D7B6;
    background-color: #A15F2C;
    border-radius: 16px;
    border: 0;
    height: 1.8vw;
    width: 20vw;
    top: 75px;
}

.lupa {
    margin-left: -7%;
    width: 1.5vw;
    height: 1.5vw;
}
.lupa:hover {
    filter: hue-rotate(0deg) brightness(80%);
}

.carrito {
    width: 4.5vw;
    height: 2.9vw;
    margin-left: 10%;
    margin-top: -1%;
}

.l {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 50%;
    font-size: 0.8vw;
}

.l2 {
    z-index: 2;
    margin-left: 15%;
    font-size: 1.5vw;
}


.letrasa {
    z-index: 1;
    color: #ffffff;
    display: flex;
    position: absolute;
    list-style: none;
    margin-left: 90%;
    margin-top: 3%;
}

.letrasb {
    z-index: 2;
    color: #ffffff;
    font-family: 'acme';
    display: flex;
    position: absolute;
    list-style: none;
    margin-top: 9.5%;
    width: 30%;
}
.letrasb :hover {
    color: #aaaaaa;
}

.frase {
    z-index: 2;
    color: #F0E4B2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    width: 10vw;
    margin-top: 65%;
    margin-left: 8.7vw;
    font-size: 0.9vw;
}

.frase2 {
    z-index: 2;
    color: #9D8678;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 9vw;
    position: absolute;
    margin-top: 65%;
    margin-left: 18.3vw;
    font-size: 0.9vw;
}

/*
Carrusel
*/
.slide {
    z-index: 0;
    position: absolute;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 11%;
    width: 100%;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slide-open:checked+.slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
}

.slide-control {
    z-index: 1000;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 6vw;
    height: 0px;
    line-height: ;
    position: absolute;
    top: 50%;
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 100;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #f1e6d6;
}

#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3,
#slide-4:checked~.control-4,
#slide-5:checked~.control-5 {
    display: block;
}
.arbusto {
    position: absolute;
    z-index: 1;
    height: 12vw;
    width: 100%;
    margin-top: 49%;
}
/*
cajas de productos
*/
button {
    background-color: #C1873C;
    border: 0;
}

.producto:hover {
    transform: scale(1.05);
}

.producto2:hover {
    transform: scale(1.05);
}
.productoi:hover {
    transform: scale(1.05);
}
.productod:hover {
    transform: scale(1.05);
}
.productoi2:hover {
    transform: scale(1.05);
}
.productod2:hover {
    transform: scale(1.05);
}
.productoi{
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 15.6vw;
    height: 27.6vw;
    box-shadow: 0 0 7px;
    margin-left: 5%;
    margin-right: 1%;
    margin-top: 60%;
    margin-bottom: 1%;
}
.productod{
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 15.6vw;
    height: 27.6vw;
    box-shadow: 0 0 7px;
    margin-left: 1%;
    margin-top: 60%;
    margin-bottom: 1%;
}
.productoi2{
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 15.6vw;
    height: 27.6vw;
    box-shadow: 0 0 7px;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 1%;
    margin-bottom: 1%;
}
.productod2{
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 15.6vw;
    height: 27.6vw;
    box-shadow: 0 0 7px;
    margin-right: 5%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.producto {
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 15.6vw;
    height: 27.6vw;
    box-shadow: 0 0 7px;
    margin-top: 60%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
.producto2 {
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
    float: left;
    width: 15.6vw;
    height: 27.6vw;
    box-shadow: 0 0 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.infop {
    justify-content: center;
    text-align: center;
    font: small-caps 100% serif;
    font-size: 1.1vw;
    color: #30251e;
    font-weight: 100;
    margin: 0.5vw;
    height: 6vw;
    width: 14.6vw;
}

.precio {
    display: flex;
    justify-content: center;
    text-align: start;
    vertical-align: top;
    font: 100%/200% serif;
    color: #756155;
    font-size: 1vw;
}
.precio2 {
    display: flex;
    justify-content: center;
    text-align: start;
    vertical-align: top;
    font: 100%/200% serif;
    color: #ce1010;
    font-size: 1vw;
}


.comprar {
    border-radius: 0.8vw;
    object-fit: cover;
    overflow: hidden;
    background-color: #C1873C;
    display: flex;
    height: 100%;
    margin-left: 1.1vw;
    margin-right: 1.1vw;
    margin-top: 1.1vw;
    margin-bottom: 1vw;
    transition: 1s;
}
.comprar:hover {
    filter: hue-rotate(100deg);
}

@font-face {
    font-family: 'acme';
    src: url('Acme-Regular.ttf');
}

.tcomprar {
    font-family: 'acme';
    margin-left: 0.5vw;
    font-size: 0.9vw;
    color: #ffffff;
    margin-bottom: 0.7vw;
    margin-top: 0.7vw;
}

.flecha {
    height: 2vw;
    width: 3.5vw;
    margin-left: 2.5vw;
    margin-top: 0.3vw;
    transition: 1s;
}

.img-producto img {
    width: 100%;
    height: 100%;
}

.img-producto {
    height: 14.4vw;
}
/*
parte de abajo
*/
.parteabajo {
    position: absolute;
    top: 155vw;
    width: 100%;
    z-index: -5;
    opacity: 0.9;
}

.parteabajo1 {
    position: absolute;
    top: 139vw;
    width: 23vw;
    right: 0;
    z-index: -5;
    opacity: 0.8;
}
/*
share
*/
.share-buttons {
    position: absolute;
    width: 1vw;
    height: 2vw;
    margin-left: 1.5vw;
    margin-top: 185vw;
}
.share-buttons .share-button {
    float: left;
    margin-top: 0.9vw;
}
.share-buttons .share-button:first-child {
    margin-top: 0;
}
.share-buttons .share-button:after {
    clear: both;
    display: table;
}
.share-button {
    display: block;
    position: relative;
    height: 1.5vw;
}
.share-button:hover {
    cursor: pointer;
}
.share-button:hover .share-button-primary {
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1);
    background: #f1d7b6;
}
.share-button:hover .share-button-icon{
    filter: hue-rotate(0deg) brightness(500%);
}
.share-button:hover .share-button-secondary-content {
    transform: translate3d(0, 0, 0);
}
.share-button-primary {
    position: absolute;
    background: #ffffff;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 1vw;
    left: 0;
    top: 50%;
    margin-top: -0.7vw;
}
.share-button-icon {
    display: block;
    color: #fffdfd;
    position: absolute;
    width: 1.3vw;
    margin-left: 0.1vw;
    font-size: 1vw;
    margin-top: 0.1vw;
}
.share-button-secondary {
    overflow: hidden;
    margin-left: 0.8vw;
    height: 2vw;
}
.share-button-secondary-content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.75em;
    background: #fff;
    display: block;
    height: 1.5vw;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    line-height: 30px;
    color: #8d7658;
    border-radius: 0 15px 15px 0;
    transform: translate3d(-100%, 0, 0);
    transition: transform 175ms ease;
}
/*
cambio de pagina
*/
.pagination-outer {
    text-align: center;
}
.pagination {
    margin-top: 5vw;
    background: linear-gradient(#c2ae95, #c2ae95);
    font-family: "Libre Franklin", sans-serif;  
    padding: 0.3vw;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
    display: inline-flex;
    position: relative;
}
.pagination li a.page-link {
    color: #f1ebe3;
    background: transparent;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 2vw;
    height: 2vw;
    width: 1vw;
    padding: 0;
    margin: 0 1.3vw;
    border: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.pagination li a.page-link:hover {
    color: #ffffff;
}
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link {
    color: #fff0dd;
    background: transparent;
    font-weight: 700;
    border: none;
}
.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link {
    font-size: 0.9vw;
    line-height: 2vw;
    width: auto;
    padding: 0 0.2vw;
    border-radius: 0;
}
.pagination li a.page-link:before {
    content: "";
    background: #e4d7c7;
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
    border-radius: 0.2vw;
    transform: scale(0);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.pagination li a.page-link:hover:before {
    transform: scale(1);
}
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:hover:before,
.pagination li.active a.page-link:before {
    transform: scale(0);
}
@media only screen and (max-width: 51.2273212379936vh) {
.pagination {
    font-size: 0;
    display: inline-block;
    }
    .pagination li {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 10px;
    }
}
.perroconstructor{
    width: 100%;
    height: 100%;
    margin-top: 200px;
}
.paginaenconstruccion{
    font-family: 'acme';
    font-size: 80px;
    margin-top: -500px;
    margin-left: 420px;
    position: absolute;
    color: #000000;
    z-index: 2;
}
.paginaenconstruccion2{
    font-family: 'acme';
    font-size: 80px;
    margin-top: -400px;
    margin-left: 500px;
    position: absolute;
    color: #000000;
    z-index: 2;
}
.paginaenconstruccion3{
    font-family: 'acme';
    font-size: 80px;
    margin-top: -300px;
    margin-left: 260px;
    position: absolute;
    color: #000000;
    z-index: 2;
}
